In [80]:
import pandas as pd
from random import uniform
df = pd.DataFrame({'A' : map(lambda x: uniform(10, 1000), range(100000)), 'B': map(lambda x: uniform(1, 100), range(100000))})
df.groupby(df['A'].apply(lambda x: round(x, -1))).count()

           A     B
A
10.0     533   533
20.0     993   993
30.0    1003  1003
40.0    1023  1023
50.0     983   983
...      ...   ...
960.0   1011  1011
970.0   1007  1007
980.0    979   979
990.0    960   960
1000.0   503   503

[100 rows x 2 columns]

In [81]:
pd.cut(df.groupby(df['A'].apply(lambda x: round(x, -1))).apply(list).keys(), 3)

[(9.01, 340.0], (9.01, 340.0], (9.01, 340.0], (9.01, 340.0], (9.01, 340.0], ..., (670.0, 1000.0], (670.0, 1000.0], (670.0, 1000.0], (670.0, 1000.0], (670.0, 1000.0]]
Length: 100
Categories (3, interval[float64, right]): [(9.01, 340.0] < (340.0, 670.0] < (670.0, 1000.0]]